<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString"
         connectionString="Server=LHRLT-8307;Database=HabibMedicalStore;Trusted_Connection=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>